# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# Logs and databases
logs/
*.log
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# FlyGym cache
.flygym/

# Models
models/*.zip

# Executables (if your simulator is a binary)
ColdAtom_Simulator_v3.*
